h1 {
    margin-top: 1rem;
}
#about, #portfolio, #contact  {
    padding-top:56px;
}

.jumbotron_top  {
    background: #cccccc;
    margin-top: 100px;
}

.footer {
    background: #777777;
    text-align:center;
}

.social {
    color:#ffffff;
    font-size: 2rem;
}

.social a:link  {
    color: #ffffff;
}

.social a:visited{
    color: #ffffff;
}

.social a:hover {
    color: #4aaaa5;
}

.copyright  {
    font-size: 80%;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-content   {
    margin-bottom: 125px;
}

.left   {
    float:left;
    margin-right: 20px;
}